/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.header {
		padding: 0px 2.5% 10px 2.5% !important;
		/*width: 95% !important;*/
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.header {
		padding: 0px 5% 10px 5% !important;
		/*width: 90% !important;*/
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.header {
		padding: 0px 10% 10px 10% !important;
	}
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
	background-color: #333;
}

.hide {
	display: none !important;
}

body>div>.header {
	height: 90%;
	width: 100%;
	position: absolute;
	overflow: auto;
	display: inline-block;
	background-color: #333;
	padding: 0px 0px 10px 0px;
}

#home>.header>.eventOverview {
	margin-top: 0.5%;
	padding: 0px 1%;
	background-color: #FCFFF5;
}

#home>.header>.eventOverview:nth-child(2n) {
	background-color: #D1DBBD;
}

#home>.header>.eventOverview>div>div>img:nth-child(2n+1) {
	float
}

#home>.header>.eventOverview>.header>img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	opacity: 0.05;
}

#home>.header>.eventOverview>.header>* {
	display: inline-block;
}

#event>.header {
	background-color: #CCC;
}

#event>.header>fieldset {
	background-color: #CCC;
}

body>div>.footer {
	margin-top: 0.5%;
	height: 9.5%;
	width: 100%;
	position: absolute;
	bottom: 0px;
	display: flex;
}

#home>.footer>* {
	flex: 0 0 25%;
}

#home>.footer>div {
	overflow: auto;
}

#home>.footer>div>button {
	width: 100%;
	padding: 5px;
}

.nav-button {
	background-color: #91AA9D;
}

.active {
	background-color: #3E606F;
	color: #FFF;
}

#event>.footer>button {
	flex: 0 0 50%;
}

::-webkit-scrollbar {
	display: none;
}

.text-right {
	text-align: right;
}

img {
	display: block;
	max-width: 100%;
	margin: auto;
	padding: auto;
}

textarea {
	min-height: 200px;
}

fieldset {
	margin-top: 10px;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: arial, sans-serif;
}